.Categorias{
    text-align: center;
    color: #fff;
    background-color: #D99066;
    margin-top: 0.5rem;
}
.contenedor{
    width: 100%;
}
.texto{
    width: 50%;
    color: white;
    background-color: #44271F;
    margin-top: 150px;
    grid-column-start: auto;
    border-radius: 1em;
    float: left;
    margin-left: 40px;
}
.imagen{
    margin-top: 5px;
    grid-column-end: auto; 
    width: 600px;
    height: 500px;
    margin-right: auto;
    float: right;
    margin-right: 20px;
}
.mision{
    width: 50%;
    color: white;
    background-color: #44271F;
    margin-top: 15px;
    grid-column-start: auto;
    border-radius: 1em;
    float: left;
    margin-left: 20px;
}
.vision{
    width: 50%;
    color: white;
    background-color: #44271F;
    margin-top: 150px;
    grid-column-start: auto;
    border-radius: 1em;
    float: right;
    margin-right: 20px;
}
.info1{
    position: relative;
    float: right;
    left: 30%;
    right: 20%;
}
.info2{
    float: left;
    width: 10px;
    height: 10px;
}