.Categorias{
    text-align: center;
    color: #fff;
    background-color: #D99066;
    margin-top: 0.5rem;
}
.contenedor{
    width: 100%;
}
.texto{
    width: 50%;
    color: white;
    background-color: #44271F;
    margin-top: 150px;
    grid-column-start: auto;
    border-radius: 1em;
    float: left;
    margin-left: 40px;
}
.imagen{
    margin-top: 5px;
    grid-column-end: auto; 
    width: 600px;
    height: 500px;
    margin-right: auto;
    float: right;
    margin-right: 20px;
}
.mision{
    text-align: center;
    width: 49%;
    color: white;
    background-color: #44271F;
    margin-top: 50px;
    grid-column-start: auto;
    float: left;
    margin-left: 10px;
}
.vision{
    text-align: center;
    width: 49%;
    color: white;
    background-color: #44271F;
    margin-top: 70px;
    grid-column-start: auto;
    float: right;
    margin-right: 10px;}
.info1{
    width: 49%;
    height: 170px;
    margin-right:10px;
    margin-top: 50px;
    grid-column-end: auto;
    padding-left: 10px;
}
.info2{
    width: 49%;
    grid-column-end: auto;
    height: 190px;
    margin-left: 10px;
    margin-top: 70px;
}